<style>

    .h3{
        background-color: lightgreen;
        display: inline;
        margin: 0px 0px 0px 30px;
    }

    .h3b{
        background-color: lightgreen;
        display: inline;
        margin: 0px 0px 0px 350px;
    }

</style>

{% extends "base.html" %}
{% block content %}


<div class="ack">
    <h4 style="margin-top: 50px; margin-left: 400px;"> Your pdfs are generating 📃 📃...</h4>

    <p style="margin-top: 51px; margin-left: 450px;"> wait for a while. 🫰 🫰 </p>


    <h3 class="h3" >
        Check your data here--> <a href="/csvFile"> data </a>
    </h3>
    
    <h3 class="h3 h3b" >
        go to home--> <a href="/csv"> home </a> 
    </h3>

</div>

{% endblock %}