{% extends "base.html" %}
{% block content %}


<main>
  <div class="info">
    <h1 align="center"> I am home page of automatic certificate generator </h1>
  </div>

  <body>

    <div class="formUploading">
      <form action="/csv" method="post" enctype="multipart/form-data">

        <h2 class="h2"> Select the certificate you want: </h2>

        
        <div class="imageContainer">
          
          <ul class="imageList">

          <li class="listImage"> 
              <input type="radio" id="choice1" name="certificate_choice" value="Choice1">
              <label for="choice1">
                <img src="static/Images/demoCertImg1.jpg" alt="certificate image" height="300px" width="400px">
              </label>
            </li>
            
            <li class="listImage"> 
              <input type="radio" id="choice2" name="certificate_choice" value="Choice2">
              <label for="choice2">
                <img src="static/Images/demoCertImg2.jpg" alt="certificate image" height="300px" width="400px">
              </label>
          </li>
          
          <li class="listImage"> 
              <input type="radio" id="choice3" name="certificate_choice" value="Choice3">
              <label for="choice3">
                <img src="static/Images/demoCertImg3.png" alt="certificate image" height="300px" width="400px">
              </label>
          </li>

        </ul>

        </div>

        
        <div class="instruction ">
          <h2 align="center"> <u> give your Excel file here 👇 👇 </u> </h2>
          <br>
          <hr>
        </div>

        <div class="mb-3" align="center">
          <input type="file" name="file" id="formfile" multiple="multiple"> <br>
          <button type="submit" class="btn btn-success mt-3"> Upload </button>
        </div>


      </form>
    </div>

  </body>

</main>


{% endblock %}