

{% extends "base.html" %}
{% block content %}

<!-- creating a appHeader:  -->
<div class="appHeader">

    <h2 class="h2"> Discover all new </h2>
    <div class="badger">
        An automatic certificate generator
    </div>
    <h4 class="h4 h2"> Create interactive certificate for organizations, colleges, NGO's from here</h4>

</div>

<!-- hero of our landing page: -->
<div class="hero">

    <div class="image " >
        <img class="img" src="https://d2vyhi5ouo1we3.cloudfront.net/force_jpg/aHR0cHM6Ly9pbWFnZXMuYmFubmVyYmVhci5jb20vcmVxdWVzdHMvaW1hZ2VzLzAwOC85MjQvNTc5L29yaWdpbmFsL2VhYzQyY2FiZjM5YzIxY2Y4NThlNWY4NDRlZmM0YTA1MjJmOGUxNzkucG5nPzE2MzI4MDgzMDI=/image.jpg" alt="certificate image" width="300px" height="250px">

    </div>

    <div class="about">
        <h2 class="hh2"> Welcome to image precisor </h2>
        
        <p class="para" > Welcome to our cutting-edge Certificate Generator! Are you tired of the hassle and time-consuming process of manually designing certificates? Look no further! Our innovative platform offers an automated solution to streamline your certificate creation process. With just a few clicks, you can generate stunning, professional-quality certificates tailored to your needs. Whether you're recognizing achievements in education, business, or any other field, our user-friendly interface makes it easy to customize designs, add logos, and personalize messages. Say goodbye to tedious formatting tasks and hello to efficient, hassle-free certificate creation. Join countless satisfied users who have revolutionized their certificate-making experience with our intuitive Certificate Generator today! </p>

    </div>

    <div class="btnClass">
        <button action="home.html" class="landBtn"> <a class="aLinks" href="/home"> Start here </a> </button>
    </div>


</div>

{% endblock %}